/DataRead/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DataRead/obj/Debug/net8.0/DataRead.AssemblyInfo.cs
/DataRead/obj/Debug/net8.0/DataRead.AssemblyInfoInputs.cache
/DataRead/obj/Debug/net8.0/DataRead.assets.cache
/DataRead/obj/Debug/net8.0/DataRead.GeneratedMSBuildEditorConfig.editorconfig
/DataRead/obj/Debug/net8.0/DataRead.GlobalUsings.g.cs
/DataRead/obj/DataRead.csproj.nuget.dgspec.json
/DataRead/obj/DataRead.csproj.nuget.g.props
/DataRead/obj/DataRead.csproj.nuget.g.targets
/DataRead/obj/project.assets.json
/DataRead/obj/project.nuget.cache
/DataRead/obj/project.packagespec.json
/DataRead/obj/rider.project.model.nuget.info
/DataRead/obj/rider.project.restore.info
