/DataRead/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DataRead/obj/Debug/net8.0/DataRead.AssemblyInfo.cs
/DataRead/obj/Debug/net8.0/DataRead.AssemblyInfoInputs.cache
/DataRead/obj/Debug/net8.0/DataRead.assets.cache
/DataRead/obj/Debug/net8.0/DataRead.GeneratedMSBuildEditorConfig.editorconfig
/DataRead/obj/Debug/net8.0/DataRead.GlobalUsings.g.cs
/DataRead/obj/DataRead.csproj.nuget.dgspec.json
/DataRead/obj/DataRead.csproj.nuget.g.props
/DataRead/obj/DataRead.csproj.nuget.g.targets
/DataRead/obj/project.assets.json
/DataRead/obj/project.nuget.cache
/DataRead/obj/project.packagespec.json
/DataRead/obj/rider.project.model.nuget.info
/DataRead/obj/rider.project.restore.info
/DataRead/bin/Debug/net8.0
/DataRead/obj/Debug/net8.0
/LinearRegression/bin/Debug/net8.0
/LinearRegression/obj/LinearRegression.csproj.nuget.dgspec.json
/LinearRegression/obj/LinearRegression.csproj.nuget.g.props
/LinearRegression/obj/project.assets.json
/LinearRegression/obj/project.nuget.cache
/LinearRegression/obj/project.packagespec.json
/LinearRegression/obj/rider.project.restore.info
/LinearRegression/obj/rider.project.model.nuget.info
/LinearRegression/obj/Debug/net8.0/apphost.exe
/LinearRegression/obj/Debug/net8.0/LinearRe.BCBF840A.Up2Date
/LinearRegression/obj/Debug/net8.0/LinearRegression.AssemblyInfo.cs
/LinearRegression/obj/Debug/net8.0/LinearRegression.AssemblyInfoInputs.cache
/LinearRegression/obj/Debug/net8.0/LinearRegression.assets.cache
/LinearRegression/obj/Debug/net8.0/LinearRegression.csproj.AssemblyReference.cache
/LinearRegression/obj/Debug/net8.0/LinearRegression.csproj.CoreCompileInputs.cache
/LinearRegression/obj/Debug/net8.0/LinearRegression.csproj.FileListAbsolute.txt
/LinearRegression/obj/Debug/net8.0/LinearRegression.dll
/LinearRegression/obj/Debug/net8.0/LinearRegression.genruntimeconfig.cache
/LinearRegression/obj/Debug/net8.0/LinearRegression.pdb
/LinearRegression/obj/Debug/net8.0/LinearRegression.sourcelink.json
/LinearRegression/obj/Debug/net8.0
/.vs
/LinearRegression/obj/Debug/net8.0/LinearRegression.GeneratedMSBuildEditorConfig.editorconfig
/RegressionApp/bin/Debug/net8.0
